
* {
    background-color: #7fffd4;
    font-family: 'Comic Sans MS', 'Courier New', Georgia, serif;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: fit-content;
    margin: auto;
}

.home-link {
    display: block;
    text-align: center;
}